body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    line-height: 1.6;
    color: #333;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}


.main-header {
    background-color: #f9f6f6; 
}


.header-top-bar {
    background-color: #2A3345; 
    padding: 5px 0;
}

.container {
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.search-social {
    display: flex;
    align-items: center;
    gap: 15px; 
}

.search-box {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px 10px;
    width: 150px;
}

.search-icon {
    background: none;  
    border: none;
    cursor: pointer;
    font-size: 1.2em;
    color: #fff;              
    transition: color 0.3s, transform 0.2s;
}


.social-icons {
    margin-right: 20px; 
}

.social-icons a {
    color: white;
    margin: 0 8px;
    font-size: 1.3em;
    transition: color 0.3s;
}

.search-icon:hover {
    color: #F2b950;       
    transform: scale(1.1); 
}

.social-icons a:hover {
    color: #F2b950; 
}


.nav-bar {
    background-color: #e6e6e6;
    padding: 10px 0;
}

.nav-bar .container {
    display: flex;
    align-items: center;      
    justify-content: space-between; 
}


.logo-container {
    display: flex;
    align-items: center;
    justify-content: flex-start; 
}

.logo {
    width: 120px;  
    height: auto;  
    margin-right: 8px; 
}


.main-nav-list {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}


.main-nav-list li a {
    text-decoration: none;
    color: #2A3345;
    margin-left: 25px;
    font-weight: 600;
    transition: color 0.3s;
}

.main-nav-list li a:hover {
    color: #F2b950;
}



.hero-section {
    min-height: 80vh; 
    height: 80vh; 
    overflow: hidden; 
    position: relative; 
    margin: 0; 
    display: flex; 
    justify-content: flex-start; 
    align-items: stretch; 
    width: 100%; 
}

.hero-about-left-text {
    width: 20%; 
    padding: 80px 5%; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    color: white; 
    box-sizing: border-box;
    height: 100%; 
    background: linear-gradient(
        135deg, 
        #2A3345 0%, 
        #CF4E93 75%,
        #F2B950 100%
    );
    z-index: 2; 
    position: relative; 
}


.hero-about-image {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: block; 
}


.hero-about-right-image {
    width: 100%; 
    height: 90vh; 
    position: relative; 
    overflow: hidden; 
}

.profile-about-info {
    padding: 50px 10px;
    max-width: 1400px;
    margin: 0 auto;
    text-align: center;
}


.values-section {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-top: 40px;
    flex-wrap: wrap;
}

.value-card {
    flex: 1;
    min-width: 220px;
    background: #f4f4f6;
    padding: 25px;
    border-radius: 12px;
    text-align: center;
    border: 2px solid rgba(255,255,255,0.08);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.value-card i {
    font-size: 40px;
    margin-bottom: 15px;
    color: #CF4E93;

}

.value-card h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.value-card p {
    font-size: 15px;
    opacity: 0.85;
}

.value-card:hover {
    transform: translateY(-6px);
    box-shadow: 0px 10px 25px rgba(101, 99, 99, 0.25);
}











/* Footer  */

footer {
    background-color: #2A3345;
    color: #fff;
    padding: 20px 0;
    font-size: 14px;
}

footer .container {
    display: flex;
    flex-direction: column; 
    align-items: center;    
    justify-content: center;
    gap: 10px;             
}

footer a {
    color: white;
    margin: 0 10px;
    font-size: 18px;
    text-decoration: none;
    transition: color 0.3s;
}

footer a:hover {
    color: #F2b950;
}